<section class="container main-content-with-sidebar">
  <article class="main-content">
    <div class="page-heading">
      <h1>
        Select Shipping Method
      </h1>
    </div>
    <div class="m-xsmall-top-1 m-small-top-3">
      <%= render 'form' %>
    </div>
  </article>
  <%= render 'sidebar' %>
</section>
