/*
#00DFFB
#00EBE8
#4CF4CB
#89F9A9
#C1FB88
#F9F871
*/

$primaryColorScale: (
  1: hsl(187, 100%, 79%),
  2: hsl(187, 100%, 69%),
  3: hsl(187, 100%, 59%),
  4: hsl(187, 100%, 49%),
  5: hsl(187, 100%, 44%),
  6: hsl(187, 100%, 39%),
  7: hsl(187, 100%, 19%)
);

$secondaryColorScale: (
  1: hsl(60, 92%, 90%),
  2: hsl(60, 92%, 82%),
  3: hsl(60, 92%, 76%),
  4: hsl(60, 92%, 71%),
  5: hsl(55, 92%, 61%),
  6: hsl(50, 92%, 51%),
  7: hsl(45, 92%, 45%)
);

$grayscale: (
  0: hsl(0, 0%, 100%),
  1: hsl(0, 0%, 97%),
  2: hsl(0, 0%, 77%),
  3: hsl(0, 0%, 57%),
  4: hsl(0, 0%, 47%),
  5: hsl(0, 0%, 27%),
  6: hsl(0, 0%, 17%),
  7: hsl(0, 0%, 20%),
  8: hsl(0, 0%, 0%)
);

@function primaryColor($num: 4) {
  @return map-get($primaryColorScale, $num);
}

@function secondaryColor($num: 4) {
  @return map-get($secondaryColorScale, $num);
}

@function grayscale($num: 4) {
  @return map-get($grayscale, $num);
}
