<section class="container">
  <div class="page-heading">
    <h1>
      Your Shopping Cart!
    </h1>
  </div>
  <table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </thead>
    <tbody>

      <tr>
        <td colspan="3">
          Total
        </td>
        <td>
          <%= @cart_total %>
        </td>
      </tr>
    </tbody>
  </table>
  <% unless current_user.get_cart_products_with_qty.blank? %>
    <%= link_to "Checkout", new_order_path %>
  <% end %>
  <% @products.each do |p| %>

  <% end %>
</section>
