@keyframes primaryButtonAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.button {
  font-family: $headingFont;
  text-decoration: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &.block {
    display: inline-block;
  }

  &.xsmall {
    padding: 0.5em 0;

    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.small {
    padding: 0.5em 1em;

    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.default {
    padding: 1em 2em;

    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.link {
    position: relative;

    color: primaryColor(6);
    font-size: 1.5rem;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.25rem;

      height: 2px;
      width: 0;

      background-color: primaryColor(5);
      opacity: 0;
      transition: all 150ms ease-in-out;
    }

    &:hover {
      color: primaryColor(5);
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &.primary {
    color: grayscale(0);
    letter-spacing: 0.07em;
    text-shadow: 1px 2px 0 rgba(grayscale(7), 0.5);

    background: linear-gradient(90deg, primaryColor(5), primaryColor(7));
    background-position: 0 0;
    background-size: 200% 100%;
    border: 1px solid primaryColor(5);

    &:hover {
      background-position: 50% 0;
      border-radius: 4px;
      transform: scale(1.05);
    }
  }

  &.secondary {
    color: primaryColor(5);
    letter-spacing: 0.07em;

    background: grayscale(0);
    border: 1px solid primaryColor(5);

    &:hover {
      color: grayscale(0);

      background-color: primaryColor(5);
      text-shadow: 1px 2px 0 rgba(grayscale(7), 0.5);
    }
  }

  &.naked {
    color: primaryColor(5);
    letter-spacing: 0.01em;

    &:hover {
      color: grayscale(0);

      background-color: primaryColor(5);
      text-shadow: 1px 2px 0 rgba(grayscale(7), 0.5);
    }
  }
}

.trix-button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;

  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: grayscale(0);
  border: 1px solid grayscale(3);
  border-radius: 4px;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: grayscale(1);
  }
}
