form {
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  background-color: grayscale(0);
  border: 1px solid grayscale(2);
  box-shadow: 15px 15px 0 5px rgba(grayscale(7), 0.05);

  &.light {
    padding: 0;

    border: none;
    box-shadow: none;
  }

  &.small {
    padding: 1rem;
  }
}

.form-control {
  margin-bottom: 1rem;

  &.light {
    margin-bottom: 0.5rem;
  }
}

form.small .form-control {
  margin-bottom: 0.5rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control span {
  display: block;
  margin-top: 1rem;

  text-transform: capitalize;
}

.form-control input,
.form-control trix-editor {
  display: block;
  width: 100%;
  padding: 1.5rem 1rem;

  font-family: $primaryFont;
  font-size: 1rem;

  border: 1px solid grayscale(2);
  @extend .elevated-item;

  &.light {
    box-shadow: none;
  }

  &:focus {
    border: 1px solid grayscale(3);
    box-shadow: 0 0 1rem 0 rgba(primaryColor(5), 0.25);
    outline: none;
  }
}

form.small .form-control input {
  padding: 1rem 0.5rem;

  box-shadow: none;
}

.form-control select {
  display: block;
  padding: 1rem;
  width: 100%;
  min-height: 2rem;

  font-family: $primaryFont;
  font-size: 1rem;
  line-height: 2;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: grayscale(0);
  border: 1px solid grayscale(2);

  @extend .elevated-item;

  &:focus {
    border: 1px solid grayscale(3);
    box-shadow: 0 0 1rem 0 rgba(primaryColor(5), 0.25);
    outline: none;
  }
}

form.small .form-control select {
  padding: 0.5rem;

  box-shadow: none;
}

.form-checkbox-control {
  padding: 1rem;

  border: 1px solid grayscale(2);
}

.form-checkbox-control {
  label {
    display: flex;
  }

  input {
    margin-right: 1rem;
  }
}

.form-select-wrapper {
  position: relative;
}

.form-select__icon {
  position: absolute;
  right: 2rem;
  top: 50%;

  transform: translateY(-50%);
}

.form-control trix-toolbar {
  margin-bottom: 1rem;
}

.form-control trix-editor {
  min-height: 6rem;

  ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;

    list-style: circle;

    li {
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.form-control .trix-button-row {
  display: flex;
  margin-bottom: -1rem;
}

.radio-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-control.radio-button-group input {
  flex-basis: 2rem;

  margin: 0 0 1rem;

  box-shadow: none;
}

.form-control.radio-button-group label {
  flex-basis: calc(100% - 2rem);

  font-family: $primaryFont;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

@include breakpoint(small) {
  form {
    padding: 2rem;
  }

  .form-control {
    margin-bottom: 2rem;

    &.light {
      margin-bottom: 1rem;
    }
  }

  .form-control label {
    margin-bottom: 1rem;
  }
}

@include breakpoint(medium down) {
  .form-control .trix-button-row {
    flex-wrap: wrap;
  }
}
