html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

body {
  color: grayscale(7);
  font-family: $primaryFont;
  font-size: 1rem;
}

h1 {
  font-family: $headingFont;
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-shadow: 0.05em 0.05em 0 rgba(grayscale(7), 0.1);
  text-transform: uppercase;
}

.ui__nav-link {
  color: grayscale(0);
  font-family: $headingFont;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0 rgba(grayscale(7), 0.5);
  text-transform: uppercase;

  opacity: 0.9;
  transition: all 150ms ease-in-out;

  &:hover {
    font-size: 1.3rem;

    opacity: 1;
    transform: scale(1);
  }
}

.form-control label {
  color: grayscale(5);
  font-family: $headingFont;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

//
// BREAKPOINTS
//

@include breakpoint(small) {
  h1 {
    font-size: 5rem;
  }
}

@include breakpoint(medium) {
  h1 {
    font-size: 6rem;
  }
}
