<section class="container">
  <article class="site-heading text-align-center">
    <h1>Edit Product</h1>
  </article>
  <article class="site-form-wrapper p-xsmall-top-2 p-xsmall-bottom-2 p-small-top-4 p-small-bottom-4">
    <%= render 'form', product: @product %>
  </article>
  <article class="site-back-links text-align-center">
    <ul class="inline-list justify-content-center">
      <li>
        <%= link_to 'Show', @product, { class: "button link"} %>
      </li>
      <li>
        <%= link_to 'Back', products_path, { class: "button link"} %>
      </li>
    </ul>
  </article>
</section>

