<p id="notice"><%= notice %></p>

<h1>Products Page</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= @products.inspect %>
  <%- puts @test %>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<%#

 %>
