<li class="site-navigation-list__item">
  <%= link_to "Sign Up", new_user_registration_path, { "class" => "site-navigation-list-item__link ui__nav-link"} %>
</li>
<li class="site-navigation-list__item">
  <%= link_to "Sign In", user_session_path, { "class" => "site-navigation-list-item__link ui__nav-link"} %>
</li>
