<% if notice %>
  <div class="notification notification--notice elevated-item">
    <div class="notification__text notification-text__notice"><%= notice %></div>
  </div>
<% end %>
<% if alert %>
  <div class="notification notification--alert elevated-item">
    <div class="notification__text notification-text__alert"><%= alert %></div>
  </div>
<% end %>
